@import "vars";

html, body, #root, .background {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;

    * {
        margin: 0px;
        padding: 0px;
    }
}

.logo {
    width: 80px;
    max-height: max-content;
}

header {
    max-height: 120px;
}

.background {
    z-index: 1;
}

.on-top {
    z-index: 1000;
}

footer {
    bottom: 0;
    width: 100vw;
}

.footer-heighter {
    height: 102px;
}

@media(max-width: 767px){
    .small-padding-mobile {
        padding: 20px !important;
    }

    .d-none-mobile {
        display: none;
    }

    .footer-heighter {
        height: 64px;
    }
}

@media(max-width: 568px){
    .footer-heighter {
        height: 88px;
    }
}

@media(max-width: 316px){
    .footer-heighter {
        height: 112px;
    }
}